<md-toolbar class="md-whiteframe-2dp" ng-include="'views/actionbar.html'" ng-if="title" ng-cloak></md-toolbar>
<md-content ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom md-selected="0" ng-cloak>
        <md-tab ng-repeat="menu in days" label="{{menu.day}}">
        	<md-content class="md-padding" layout="row" flex ng-cloak>
  					<md-card ng-repeat="type in menu.type" flex="33" ng-show="type.name!=='Snacks'">
    					<md-card-title>
      						<md-card-title-text>
        						<span class="md-title">{{type.name}}</span>
        						<span class="md-caption">{{type.mainmenu}}<span ng-if="type.mainmenu==''">N/A</span>
        						</span>
      						</md-card-title-text>
    					</md-card-title>
    					<md-card-content>
    						<span ng-repeat="extra in type.extra" class="block md-body-1" ng-class="$index!=0 ? 'mt-xxs' : ''">
    							{{extra.name}}
    						</span>
    					</md-card-content>
						<md-divider class="m-0"></md-divider>
    					<md-card-actions layout="row" layout-align="end center">
        					<md-button class="md-icon-button ml-xxs" aria-label="Edit" ng-click="editMainMenu($parent.$index, $index, $event)"><md-icon md-svg-src="images/icons/ic_edit_24px.svg"></md-icon><md-tooltip md-direction="bottom">Suggest</md-tooltip>
        					</md-button>
    					</md-card-actions>
  					</md-card>
  			</md-content>
        </md-tab>
    </md-tabs>
</md-content>