<h2>Select Restaurant</h2>

<md-content  layout="row" layout-wrap layout-align="center start" layout-xs="column" class="large-padding  margin-top-large">
		<div flex layout="row" layout-wrap layout-align="start" layout-xs="column" class="margin-top-small">
        	<div layout-gt-xs="row" flex="50">
					<md-input-container class="" flex-gt-xs>
			            <label>Enter restaurant Id</label>
			            <input  ng-model="restId">
			          </md-input-container>
			          <md-button class="md-raised" ng-click="editRestaurant()">Go</md-button>
			          </div>
			        
			</div>
</md-content>
