<md-dialog flex="75" aria-label="Lock"  ng-cloak>
    <form ng-submit="addExtra(newExtra)">
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{title}} - {{menu.name}} Add Extra</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" flex layout ="rooów">
                    <md-input-container class="md-block" flex="60">
                        <label>Extra Name</label>
                        <textarea ng-model="newExtra.name" name="name" ng-required="true"></textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex="20">
                        <input ng-model="newExtra.normalprice" type="number" ng-min="0" placeholder="Extra normal price" ng-required="true" >
                    </md-input-container>
                    <md-input-container class="md-block" flex="20">
                        <input ng-model="newExtra.guestprice" type="number" ng-min="0" placeholder="Extra guest price" ng-required="true">
                    </md-input-container>
                    <md-checkbox ng-model="newExtra.veg" aria-label="Checkbox 1">
                        Veg
                    </md-checkbox>
                    <md-checkbox ng-model="newExtra.default" aria-label="Checkbox 2">
                        Default
                    </md-checkbox>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            {{menu.message}}
            <span flex></span>
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button type="submit" class="mr-s">Update</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
