<md-dialog flex="25" aria-label="Lock"  ng-cloak>
    <form ng-submit="changePassword()">
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Change PIN</h2>
            <span flex></span>
        </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm >
                    <label>Enter current PIN</label>
                    <input type="number" ng-model="currentPassword"  md-autofocus ng-required="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm >
                    <label>Enter new PIN</label>
                    <input type="number" ng-model="newPassword"  ng-required="true">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button type="submit" class="mr-s">Change</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
